@page
@model AdScript.Web.Pages.IndexModel

<h2>AD Script Generator</h2>

<form method="post">

    <div asp-validation-summary="All" style="color: red; margin-bottom: 12px;"></div>

    <div>
        <label>First Name</label><br />
        <input asp-for="Input.FirstName" />
        <span asp-validation-for="Input.FirstName" style="color: red;"></span>
    </div>
    <br />

    <div>
        <label>Last Name</label><br />
        <input asp-for="Input.LastName" />
        <span asp-validation-for="Input.LastName" style="color: red;"></span>
    </div>
    <br />

    <div>
        <label>Employee ID</label><br />
        <input asp-for="Input.EmployeeId" />
        <span asp-validation-for="Input.EmployeeId" style="color: red;"></span>
    </div>
    <br />

    <div>
        <label>Campus</label><br />
        <input asp-for="Input.Campus" />
        <span asp-validation-for="Input.Campus" style="color: red;"></span>
    </div>
    <br />

    <div>
        <label>Team</label><br />
        <input asp-for="Input.Team" />
        <span asp-validation-for="Input.Team" style="color: red;"></span>
    </div>
    <br />

    <div>
        <label>UPN Suffix</label><br />
        <input asp-for="Input.UpnSuffix" placeholder="@@cats.local" />
        <span asp-validation-for="Input.UpnSuffix" style="color: red;"></span>
    </div>
    <br />

    <button type="submit" asp-page-handler="Generate">
        Generate
    </button>


</form>

@if (!string.IsNullOrWhiteSpace(Model.GeneratedCommand))
{
    <hr />
    <h3>Generated Command</h3>

    <pre id="cmd" style="white-space: pre-wrap; padding: 12px; border: 1px solid #ccc;">
        @Model.GeneratedCommand
    </pre>

    <button type="button" onclick="copyCommand()" id="copyBtn">
        Copy
    </button>

    <span id="copyMessage" style="color: green; margin-left: 10px; display: none;">
        Copied!
    </span>

    <script>
        function copyCommand() {
            const text = document.getElementById('cmd').innerText;

            navigator.clipboard.writeText(text).then(function () {
                const msg = document.getElementById('copyMessage');
                msg.style.display = "inline";

                setTimeout(function () {
                    msg.style.display = "none";
                }, 3000);
            });
        }
    </script>

}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



